<!DOCTYPE html>
<html lang="de"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authors.site.title}">Autoren</title>
</head>
<body layout:fragment="content">
<div class="container row justify-content-end mb-3">
    <a class="btn btn-primary w-auto" th:href="@{/authors/add}" th:text="#{authors.add.site.title}">Hinzufügen</a>
</div>
<table class="ui celled table">
    <thead>
    <tr>
        <th th:text="#{author.name}">Name</th>
        <th th:text="#{author.birth}">Geboren</th>
        <th th:text="#{author.death}">Gestorben</th>
        <th th:text="#{author.nationality}">Nationalität</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author}">Name</td>
        <td th:text="${author.birthDateString}">Geboren</td>
        <td th:text="${author.deathDateString}">Gestorben</td>
        <td th:text="${author.nationality.name}">Nationalität</td>
    </tr>
    </tbody>
</table>
</body>
</html>
