<!DOCTYPE html>
<html lang="de"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authors.site.title}">Autoren</title>
</head>
<body layout:fragment="content">
<div class="container row justify-content-end mb-3">
    <a class="btn btn-primary w-auto" th:href="@{/authors/add}" th:text="#{authors.add.site.title}">Hinzufügen</a>
</div>
<table class="ui celled table table-striped align-middle">
    <thead>
    <tr>
        <th th:text="#{author.name}">Name</th>
        <th th:text="#{author.birth}">Geboren</th>
        <th th:text="#{author.death}">Gestorben</th>
        <th th:text="#{author.nationality}">Nationalität</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author}">Name</td>
        <td th:text="${author.birthDateString}">Geboren</td>
        <td th:text="${author.deathDateString}">Gestorben</td>
        <td th:text="${author.nationality.name}">Nationalität</td>
        <td>
            <a class="btn btn-secondary" th:href="@{/authors/{id}(id=${author.id})}"
               th:text="#{form.edit}">Bearbeiten</a>
        </td>
        <td>
            <form method="post" th:action="@{/authors/delete}">
                <input name="id" th:value="${author.id}" type="hidden">
                <button class="btn btn-danger" th:text="#{form.delete}" type="submit">Löschen</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
