<!DOCTYPE html>
<html lang="de"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authors.add.site.title}">Autor hinzufügen</title>
</head>
<body layout:fragment="content">
<!--suppress ThymeleafVariablesResolveInspection -->
<form class="needs-validation" id="form" method="post" role="form" th:action="@{/authors/save}"
      th:object="${editAuthorForm}">
    <p class="text-danger" th:if="${#fields.hasErrors('*')}" th:text="#{form.error}">Fehler</p>
    <div class="row g-3">
        <div class="col-6">
            <label class="form-label" for="firstName" th:text="#{author.firstname}">Vorname</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input class="form-control" id="firstName" required="required" th:errorclass="border-danger"
                   th:field="*{firstName}" type="text">
        </div>
        <div class="col-6">
            <label class="form-label" for="lastName" th:text="#{author.lastname}">Nachname</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input class="form-control" id="lastName" required="required" th:errorclass="border-danger"
                   th:field="*{lastName}" type="text">
        </div>
        <div class="col-3">
            <label class="form-label" for="birthDateString" th:text="#{author.birth}">Geburtsdatum</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input class="form-control" data-date-format="dd.mm.yyyy" id="birthDateString" th:errorclass="border-danger"
                   th:field="*{birthDateString}" type="date">
        </div>
        <div class="col-3">
            <label class="form-label" for="deathDateString" th:text="#{author.death}">Todesdatum</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input class="form-control" data-date-format="dd.mm.yyyy" id="deathDateString" th:errorclass="border-danger"
                   th:field="*{deathDateString}" type="date">
        </div>
        <div class="col-6">
            <label class="form-label" for="countryCodeString" th:text="#{author.nationality}">Nationalität</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <select class="form-select" id="countryCodeString" required="required" th:errorclass="border-danger"
                    th:field="*{countryCodeString}">
                <option th:each="code : ${countries}" th:text="${code.name}" th:value="${code}">Land</option>
            </select>
        </div>
        <input name="id" th:value="${id}" type="hidden">
        <div class="col-12">
            <button class="btn btn-primary w-100" th:text="#{form.submit}" type="submit">Speichern</button>
        </div>
    </div>
</form>
</body>
</html>
