<!DOCTYPE html>
<html lang="de"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{readings.site.title}">Lesungen</title>
</head>
<body layout:fragment="content">
<div class="container row justify-content-end mb-3" th:if="${bookExists}">
    <a class="btn btn-primary w-auto" th:href="@{/readings/add}" th:text="#{readings.add.site.title}">Hinzufügen</a>
</div>
<table class="ui celled table table-striped align-middle">
    <thead>
    <tr>
        <th th:text="#{reading.book}">Buch</th>
        <th th:text="#{reading.beginning}">Beginn</th>
        <th th:text="#{reading.end}">Ende</th>
        <th th:text="#{reading.pagesPerHour}">Seiten</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reading : ${readings}">
        <td th:text="${reading.book}">Buch</td>
        <td th:text="${reading.beginningString}">Beginn</td>
        <td th:text="${reading.endString}">Ende</td>
        <td th:text="${reading.pagesPerHour}">Seiten</td>
        <td>
            <a class="btn btn-secondary" th:href="@{/readings/{id}(id=${reading.id})}"
               th:text="#{form.edit}">Bearbeiten</a>
        </td>
        <td>
            <form method="post" th:action="@{/readings/delete}">
                <input name="id" th:value="${reading.id}" type="hidden">
                <button class="btn btn-danger" th:text="#{form.delete}" type="submit">Löschen</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
