<!DOCTYPE html>
<html lang="de">
<body>
<div th:fragment="navigation">
    <a class="navbar-brand text-white fs-3" th:href="@{/}" th:text="#{main.site.title}"></a>
    <ul class="navbar-nav">
        <li>
            <a th:class="'nav-link'+${#httpServletRequest.requestURI != '/readings'? ' text-secondary' : ''}"
               th:href="@{/readings}" th:text="#{readings.site.title}">Lesungen</a>
        </li>
        <li>
            <a th:class="'nav-link'+${#httpServletRequest.requestURI != '/series'? ' text-secondary' : ''}"
               th:href="@{/series}" th:text="#{series.site.title}">Reihen</a>
        </li>
        <li>
            <a th:class="'nav-link'+${#httpServletRequest.requestURI != '/books'? ' text-secondary' : ''}"
               th:href="@{/books}" th:text="#{books.site.title}">Bücher</a>
        </li>
        <li>
            <a th:class="'nav-link'+${#httpServletRequest.requestURI != '/authors'? ' text-secondary' : ''}"
               th:href="@{/authors}" th:text="#{authors.site.title}">Autoren</a>
        </li>
    </ul>
</div>
</body>
</html>
